@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
  padding: 1px 2px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}
form {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}
legend {
  font-style: italic;
  font-size: 0.8rem;
}
legend > span {
  font-weight: bold;
}
label {
  font-weight: bold;
}
.center {
  display: flex;
  gap: 1rem;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left > div,
.right > div {
  display: flex;
  justify-content: space-between;
}
div.country > div,
div.password > div {
  display: flex;
  gap: 1rem;
}
div.email {
  justify-content: end;
}
div.button,
div.email {
  display: flex;
  justify-content: center;
}
button {
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: aquamarine;
  user-select: none;
  cursor: pointer;
}
.email,
.left > div,
.right > div {
  gap: 0.5rem;
}
button:active {
  background-color: rgb(74, 207, 163);
}
*:invalid {
  border-color: red;
}
*:valid {
  border-color: green;
}
.not-required {
  border-color: gray;
}
.required {
  border-color: orange;
}
.country,
.zip-code {
  font-weight: normal;
}
@media (max-width: 700px) {
  .center {
    flex-direction: column;
  }
  div.email {
    justify-content: space-between;
  }
  form {
    margin: 0.5rem;
  }
}
